<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
    <title>Plain HTML site using GitLab Pages CHASE TEST</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <ol>
        <li v-for="bullet in points" @click="done($event)" v-html="bullet.t" :class="{'important' : bullet.i}"></li>
      </ol>
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js'></script>

    <script  src="index.js"></script>
  </body>
</html>

