:root {
  font-size: 15px;
}
@media (min-width: 550px) {
  :root {
    font-size: calc(10.2857142857px + 0.8571428571vw);
  }
}
@media (min-width: 1600px) {
  :root {
    font-size: 24px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #2c2c2c;
  padding: 40vh 0 50vh 0;
  font-size: 1.6rem;
}
body:after {
  display: block;
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  background-color: inherit;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
          mask-image: linear-gradient(to bottom, transparent, black);
}

ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0rem;
}

li {
  position: relative;
  background-color: #353535;
  padding: 1rem 0 1rem .5rem;
  color: #fffbe0;
  text-shadow: .1rem .1rem .2rem black;
  transition: all .3s;
  padding-left: 1.5rem;
  padding-left: 2.5rem;
  padding-right: .5rem;
}
li + li {
  margin-top: 3rem;
}

.done {
  background-color: #242322 !important;
  color: #474441 !important;
}
.done em, .done:before {
  color: #474441 !important;
}
.done:before {
  color: #474441 !important;
  opacity: 0.6 !important;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0rem;
}

ol li {
  counter-increment: my-awesome-counter;
}

ol li:before {
  content: counter(my-awesome-counter) ".";
  opacity: .6;
  position: absolute;
  left: 0rem;
  width: 2rem;
  text-align: right;
  transition: all .3s;
}

em {
  text-decoration: underline;
  font-size: 1.25em;
  color: white;
  transition: all .3s;
}

.important {
  font-size: 1.25em;
  color: white;
}
.important:before {
  color: cyan;
  opacity: 1;
}

.veryimportant {
  color: magenta;
}
